/* flex */
.form-container{
    display: flex;
    width:50%;
    max-width: 700px;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: ;
}

.col-12{
    flex-basis: 100%;
}

.col-6{
    flex-basis: 50%;
    min-width: 130px;
}

.col-4{
    flex-basis: 33.333%;
    min-width: 86px;
    align-self: stretch;
}

.col-3{
    flex-basis: 25%;
}

.col-2{
    flex-basis: 16.667%;
    min-width: 85px;
}

.col-1{
    flex-basis: 8.333%;
}

.gender-flex-container{
    display: flex;
    width:100%;
    justify-content: left;
    justify-self: left;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.flex-gender-text{
    flex-basis: 80px;
}

.flex-fit{
    flex-basis: calc(100% - 80px);
    min-width: 96px;
}

.flex-break{
    flex-basis: 100%;
}

/* Style textbox inputs */
input[type=text],input[type=email]{
    width: calc(100% - 25px);
    padding:4px;
    margin:2px 0 15px;
    background-color: whitesmoke;
    border:2px solid lightgray;
    border-radius:4px;
    outline: none;
}

/* Override width for gender text input */
.gender-text{
    width: 100%;
    max-width: 230px !important;
    min-width: 60px !important;
    margin:2px 0 0px !important;
}

/* Style textarea */
textarea{
    width: 96.5%;
    margin:2px 0 15px;
    background-color: whitesmoke;
    border:2px solid lightgray;
    border-radius:4px;
}

/* Style radio buttons and checkboxes to be orange when selected */
input[type=radio],input[type=checkbox]{
    accent-color: orange;
}

/* Change radio and checkbox colour when hovered */
input[type=radio]:hover, input[type=checkbox]:hover{
    accent-color: rgb(200, 130, 0);
}

/* Style dropdown */
select{
    background-color: whitesmoke;
    border:2px solid lightgray;
    border-radius:4px;
}

/* Style input and dropdown when hovered */
input:hover, select:hover{
    border:2px solid orange;
    border-radius:4px;
}

/* Style input and dropdown when in focus */
input:focus, select:focus{
    background-color: rgb(255, 240, 230);
    border:2px solid darkorange;
}

form > fieldset > span > span > h3,h4{
    margin-bottom: 2px;
}

/* Fieldset styling */
fieldset{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove rgba(214, 191, 182, 0.326);
}

/* Override margins for gender fieldset */
.genderFieldset{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0.15em;
}