html, body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header, nav, article, section, aside, article {
    display: block;
    overflow:hidden;
}

h1 {
    font-size: 2.75em;
}
/* header and nav elements */
.header {
    position: sticky;
    z-index: 1000;
    background-color: black;
    font-size: 20px;
}
.navpadding {
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin: 0px auto 0px auto;
    align-items: center !important;
    display: flex;
    justify-content: space-between !important;
}

.header aside {
    justify-content: flex-start;
}
.logo {
    display: inline-block;
}
.logo img {
    width: auto;
    max-height: 20px;
}

.header nav {
    justify-content: flex-end;
    align-content: center;
    top: 0px;
    color: white;
}
.header nav ul {
/* margin and padding should come from navpadding */
    list-style-type: none;
    overflow: hidden;
    margin: 0;

}
.header nav li {
    /* keeps items in float left with flex-justify */
    margin-right: 1em;
    float: left;
}
/* nav links */
.navpage {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;

}
.navpage:hover {
    padding-top: 15px;
    padding-bottom: 5px;
    transform: rotate(-5deg);
}

.centerimage {
    display: block;
    margin: 0 auto;
}

.centertext {
    text-align: center;
}

.inline {
    display: inline-block;
}

.two-grid {
    width: 45%;
}

.left {
    float: left;
}
.right {
    float:right;
}


/* body css wrapper */

/* this is a flex box that creates a table of a 40/60 ratio with item3 being a linebreak (flex-basis 100%)
you can reorder the 'leftbox' onto the right by swapping the flex-grow variable */

.details-flex {

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
    gap: 5px;

  }

  .details-flex > * > * {
    text-align: center;
    list-style-type: none;
  }

  .details-flex > * picture img {
    border-radius: 1em;
    transform: translate(-20%);
    transition: 0.3s;
  }
  .details-flex > * picture img:hover {
    transform: translate(-2%);
  }

  .left-item, .right-item {
    flex:1 0 40%;
  }

  .overflow-item {
    /* flex:1 1 100%; */
    order:3;
    flex-grow:1;
    flex-basis:100%;
    align-self:auto;
  }
/* dyanmic gallery on jobs.html */
  .flex-shout {
    /* flex:0 1 30%; */
    flex-grow:0;
    transition: 0.3s;
  }
  .flex-shout:hover {
    padding: 0 1em;
  }

.side-panel {
    transform: translate(-20%, 0%);
    transition: 0.5s;
}
.side-panel:hover {
    transform: translate(-6%, 0%);
    /* using -6 to cancel out focus padding */
}
.section-image {
    box-sizing: border-box;
    overflow: visible;
}
.section-image img {
    width: 100%;
    border-radius: 1em;
}
.center-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.newline-flex {
    flex-basis: 100%;
}
.terminalblink {
    animation: blinker 0.3s infinite;

}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.focus {
    margin: 0 3em 2em 3em;
}
.slideshow {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    background-image: url(./images/glasses.png);
    background-size: cover;
    color: white;
}

.slideshow h1 {
    flex-basis: 20%;
}


.profile {
    border-radius: 1em;
}

/* for creating a solid table */
.solidtable {

}
.solidtable thead {
    font-size: 14px;
    font-style: italic;
}

.solidtable td {
    border: 2px dotted black;
    padding: 5px;
    transition: 0.5s;
}
.solidtable tbody td:hover {
    padding: 10px;
}

.groupdetails {

}
.groupdetails h4 {
    margin-block-start: 0.66em;
    margin-block-end: 0.66em;
}

.verticaltable {
    scope
}

/* creating the footer */
.staticfooter {
    position: sticky;
    z-index: 999;
    background-color: black;
    color: white;
    bottom: 0px;
    height: 20px;
}
.pagefooter {
    background-color: black;
    color: white;
}
.pagefooter aside {
    float: right;
    margin: 10px 20px 0px 0px;
}
.pagefooter li {
    list-style-type: none;
}
.pagefooter a {
    margin: 0.5em;
    color: white;
    text-decoration: none;
}
.pagefooter img {
    margin: 10px;
}
